$primary-color: #3493d6;
$secondary-color: #262627;
.header {
  padding-top: 0.5rem;
  background-color: $primary-color;
  color: white;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-information-tricount {      
      svg {
        margin: 0 0.5rem;
        color: white;
      }
    }

    .header-information {
      display: flex;
      flex-direction: column;
      font-size: 0.75rem;
    }
    .icon-container {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}
