.add-tricount-section {
  background-color: #fff;
  height: 100vh;
}
.add-tricount-header {
  color: #fff;
  justify-content: start;
  padding: 0 1rem;
  gap: 1rem;
  a {
    color: #fff;
  }

  .add-tricount-heading {
    text-align: center;
    flex-basis: 200px;
  }
}
.add-tricount-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  div {
    text-align: start;
  }
}
label {
  width: 60%;
  .add-participant {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    button {
      padding: 0 1.5rem;
      height: 2rem;
    }
    .participant {
      width: 100%;
    }
  }
}
@media screen and (max-width: 400px) {
  .add-participant {
    flex-direction: column;
  }
}
