@import '../../colors';

.btn {
  padding: 0.75rem 2.5rem;
  border-radius: 50px;
  transition: 0.3s;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
}
.base-btn {
  background-color: $primary-color;
}
.base-btn:hover {
  background-color: $tertiary-color;
}
.inverted-btn {
  background-color: $fifth-color;
}
.inverted-btn:hover {
  background-color: $fourth-color;
}
.google-btn {
  background-color: $fifth-color;
}
.google-btn:hover {
  background-color: $fourth-color;
}
.log-out-btn {
  background-color: $fifth-color;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.log-out-btn:hover {
  background-color: $fourth-color;
}

.add-expense-btn {
  background-color: $primary-color;
  border-radius: 50%;
  padding: 0;
  height: 70px;
  width: 70px;
  font-size: 1.2rem;
  font-weight: 300;
}
.add-expense-btn:hover {
  background-color: $tertiary-color;
}
