.who-owes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  border: 1px solid #515354;
  border-radius: 5px;
}
.who-owes-who {
  display: flex;
  flex-direction: column;
  gap: 5px;
  span {
    font-size: 0.75rem;
  }
  .who-owes-user,
  .who-owes-to {
    font-size: 1.2rem;
    color: #0c5183;
  }
}

.who-owes-to {
}
