$primary-color: #0067ac;
nav {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon-container {
    color: white;
    display: flex;    
    align-items: center;
    gap: 10px;
  }
  img {
    min-width: 100px;
    max-width: 35%;
    padding: 1rem;
  }  
}
