$primary-color: #3493d6;
$secondary-color: #262627;
$tertiary-color: #0c5183;

.add-expense-section {
  background-color: #fff;
  height: 100vh;
}

.add-expense-header {
  justify-content: start;
  padding: 0 1rem;
  gap: 1rem;

  .add-expense-heading {
    text-align: center;
    flex-basis: 200px;
  }
}
.add-expenses-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  div {
    text-align: start;
  }

  label {
    width: 60%;
    .title,
    .price,
    .date,
    .paidBy {
      width: 100%;
    }
  }
  input,
  select {
    border-bottom: 2px solid #a1a1a1;
    padding: 1rem;
    background: #fff;
  }
  .checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    div {
      display: flex;
      align-items: center;
    }
    input {
      margin-right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  input:focus,
  select:focus {
    border-bottom: 2px solid $tertiary-color;
    color: $tertiary-color;
    opacity: 1;
  }

  #date {
    padding: 1rem;
  }
  @media screen and (max-width: 768px) {
  }
}
