footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    position: relative;
    div{

    }
    .add-expense{
        position: absolute;
        left: 44%;
        bottom: 10px;
        padding: 1rem;
        border-radius: 100%;
        background-color: #3493d6;
        margin-bottom: 1rem;
    }
}