$primary-color: #3493d6;

nav {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  .logo-name {
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .tricount-main-nav {
    flex-direction: column;
  }
}
