$primary-color: #3493d6;
nav {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  img {
    width: 150px;
    max-width: 200px;
    padding: 1rem;
  }
}
@media screen and (max-width: 400px) {
  nav {
    flex-direction: column;
  }
}
