$primary-color: #3493d6;
nav {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  .icon-container {
    color: white;
    display: flex;    
    align-items: center;
    gap: 10px;
    
  }
  img {
    width: 150px;
    max-width: 200px;
    padding: 1rem;
  }  
}
@media(max-width:768px){

}
